.welcomeMsg {
  font-size: 25px !important;
  letter-spacing: normal !important;
}

.navbar-responsive {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s all ease-in-out;
}
.navbar-responsive:after {
  content: "";
  z-index: -1;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #333333, #dd1818);;
}
.navbar-responsive .navbar-responsive__nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
  text-align: center;
  letter-spacing: 2px;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
  top: 50%;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.navbar1 {
  background-color: #000 !important;
}

.navbar {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.25);
  background-color: #FF2E2E;
}
.navbar .navbar__wrapper {
  width: 90%;
  margin: 0 auto;
}
.navbar .navbar__wrapper .navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.navbar1 .navbar__wrapper .navbar__menu {
  height: 80px ;
}

.navbar .navbar__wrapper .navbar__menu .navbar__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav2Position{
  margin: auto;
}

.navbar1 .navbar__wrapper .navbar__link a,
.navbar1 .navbar__wrapper .navbar__brand {
  display: block;
  position: relative;
  padding: 12px;
  color: #fff !important;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: 100 !important;
}

.navbar1 .navbar__wrapper .navbar__link i,
.navbar1 .navbar__wrapper .navbar__brand {
  display: block;
  position: relative;
  /*padding: 12px;*/
  color: #fff !important;
  text-decoration: none;
  font-weight: 100 !important
}

.navbar .navbar__wrapper .navbar__link a,
.navbar .navbar__wrapper .navbar__brand {
  display: block;
  position: relative;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.navbar .navbar__wrapper .navbar__brand {
  font-weight: 700;
  font-size: 1.2em;
}
.navbar .navbar__wrapper .navbar__brand img {
  height: 100%;
}

.after-transform a {
  position: relative;
  height: 100%
}
.after-transform a:after {
  transition: all 0.3s ease;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transform: scaleX(0) translateZ(0);
  transform-origin: bottom center;
}
.after-transform a.active:after, .after-transform a:hover:after {
  transform: scaleX(1) translateZ(0);
}

/* Icon 3 */
#nav-icon3 {
  width: 30px;
  height: calc(100%/2);
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: none;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.navbar-responsive__nav a:hover{
  border: 1px solid #fff;
}

@media (max-width: 1000px) {
  .navbar__nav {
    display: none !important;
  }

  #nav-icon3 span {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  .navbar__responsive {
    transform: translate3d(-100%, 0, 0) !important;
  }
}


.dropdown {
  position: relative !important;
  display: inline-block !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
  margin-left: -300px;
  width: 350px;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 30px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  float: left;
  width: 100%;
  margin-bottom: 1px solid #000;
  color: #000;
}

.dropdown-content a i {
  float: right;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #2E2E2E;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
