.divSlideShow{
  width: 100%;
  background-color: #FF2E2E;
}

.slideShow {
  display:none;
  width: 100%;
  margin: auto;
  pointer-events: none;
}

.category-menu {
  width: 100%;
  margin-top: 60px;
}

.category-menu a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  border: 1px solid gray;
  width: 100%;
}

.category-menu a:hover {
  border-color: red;
}

.category-links {
  padding: 20px;
  text-align: center;
}

/* PRODUTOS POPULARES */

.popularTitle{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'EB Garamond' , sans-serif, arial;
  font-size: 30px;
  text-align: center;
  margin-top: 30px
}

.Items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.Item {
  padding: 20px 0;
  width: 30%;
  transition: box-shadow, 0.4s, ease-in-out;
  border-radius: 3px;
}
@media (max-width: 1050px) {
  .Item {
    width: 48%;
  }
}
@media (max-width: 600px) {
  .Item {
    width: 100%;
  }
}
.Item__link {
  text-decoration: none;
}
.Item__title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  color: #555;
  width: 90%;
  margin: 20px auto 0;
}
.Item__price {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  margin-top: 10px;
  color: #777;
}
.ImageContainer {
  position: relative !important;
  width: 100%;
  height: auto;
}
.Image {
  display: block !important;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute !important;
  bottom: 0 !important;
  background: rgb(0, 0, 0) !important;
  background: rgba(0, 0, 0, 0.5) !important; /* Black see-through */
  color: #f1f1f1 !important;
  width: 100% !important;
  transition: .5s ease !important;
  opacity:0 !important;
  color: white !important;
  font-size: 20px !important;
  padding: 20px !important;
  text-align: center !important;
}

.ImageContainer:hover .overlay {
  opacity: 1 !important;
}

/* MARCAS */

.divMarcas{margin-top: 40px; }

.divMarcasSize {
  width: 90%;
  margin: auto;
}

.divMarcas h2{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'EB Garamond' , sans-serif, arial;
  font-size: 30px;
}

.divMarcas:after {
  content: "";
  display: table;
  clear: both;
}

.marcasColumn {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.cardMarcas{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}

.cardMarcas:hover {opacity: 0.5}

@media screen and (max-width: 1000px) {
  .marcasColumn {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* inform */

.divInform{
  margin-top: 40px;
  padding: 40px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.divInformSize {
  width: 100%;
  margin: auto;
}

.divInform:after {
  content: "";
  display: table;
  clear: both;
}

.informColumn {
  float: left;
  width: 25%;
  padding: 0 10px;

}

.cardInform {
  text-align: center;
  font-size: 50px;
}

.cardInform h3 {
  color: #000;
  font-family: 'EB Garamond' , sans-serif, arial;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .informColumn {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
