.menuTitle {
  color: #fff;
  cursor:pointer;
  font-size:20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #333333, #dd1818);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin-bottom: 10px;
}

.sidenav a:hover {
  color: red;
}

.sidenav h2{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin-bottom: 10px;
}

hr {
  background: #fff;
  margin-bottom: 20px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#menu {
  transition: margin-left .5s;
  padding: 10px;
  width: 100%;
  background: linear-gradient(to left, #333333, #dd1818);
}

.authVV{
  color: #fff;
  background: green;
  padding: 5px;
  float: right;
  margin-top: 6px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: -1px;
}

.authVV a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.authV i {
  color: #fff;
  float: right;
  font-size: 40px;
  margin-top: -5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
